@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/navBar";
@import "./components/container";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "./utilities/colors";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    height: 100vh;
    background-color: $bgPrincipal;
    #root{
        height: 100vh;
    }
}
