
.carrito{
    @include flex(column, center, center);
}
.cartForm{
    text-align: center;
    form{
        @include flex(column, center, center);
    }
    input{
        border: 1px solid $bgPrincipal;
    }
}

.cart{
    @include flex(row, center, center);
    width: 100%;
    flex-wrap: wrap;
    .cartProducts{
        width: 50%;
        @include flex(column, center, center);
    }
}
.cartProduct{
    border-bottom: 1px solid $textPrimary;
    width: 100%;
    margin: 10px;
    img{
        grid-area: img;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin: 5px;
    }
    h3{
        font-size: 15px;
        text-align: center;
        color: $textPrimary;
        font-weight: 600;
        flex-wrap: wrap;
    }
    .cartPrice{
        text-align: right;
        color: $textSecundary;
    }
    .cartQuantity{
        @include flex(column, center, center);
        color: $textSecundary;
        font-weight: 500;
        
    }
    button{
        width: max-content;
        display: flex;
        align-self: self-end;
        justify-self: right;
        border: 1px solid rgba(255, 255, 255, 0.274);
        color: $textPrimary;
        padding: 2px;
        border-radius: 10px 10px 0px 0px;
        transition: .3s;
        text-transform: uppercase;
        &:active{
            color: $bgPrincipal;
            background: $textSecundary;
            transition: .1s;
        }
    }
}

.checkOut{
    @include flex(column, top, center);
    width: 40%;
}